[submodule "manuscript"]
	path = manuscript
	url = https://git.overleaf.com/5fa0d9c6e1be7d000199ffd6
[submodule "ChromHMM"]
	path = ChromHMM
	url = https://github.com/jernst98/ChromHMM
[submodule "manuscript2"]
	path = manuscript2
	url = https://git.overleaf.com/607f88e29417c814f5eab0ff
